/*公共顶部CSS*/
.warp-panel {
    background: url(../static/背景1.jpg);
    background-size: cover;
}

.top-panel {
    height: 20%;
    background-color: aliceblue;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    position: relative
}

.top-panel .top-lt a:hover {
    color: pink;
}

.top-panel .top-rt a:hover {
    color: pink;
}

.top-panel .top-lt .homepage-but {
    height: 50px;
    width: 50px;
    border: none;
    background: url(../static/index-off.png) no-repeat;
    background-size: 48px 48px;
    position: relative;
    cursor: pointer;
}

.top-panel .top-lt .homepage-but:hover {
    background: url(../static/index.png) no-repeat;
    background-size: 48px 48px;
}

.top-panel .top-lt text {
    height: 50px;
}

.top-panel .top-mid .sousuo-but {
    height: 50px;
    width: 50px;
    border: none;
    background: url(../static/搜索.png) no-repeat;
    background-size: 48px 48px;
    position: relative;
    margin-left: 10px;
}

.top-panel .top-mid .sousuo-but:hover {
    background: url(../static/搜索\ -on.png) no-repeat;
    background-size: 48px 48px;
}

.top-panel .item {
    flex: 0 0 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1>a {
    margin-right: 6%;
    color: #333
}

.item1>a:hover{
    text-decoration: none;
}

.item3>a {
    margin-left: 6%;
    color: #333
}

.item3>a:hover{
    text-decoration: none;
}

#sousuo {
    width: 80%;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding: 3px 20px 3px 20px
}

.sousuo-but {
    cursor: pointer;
}