    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="./css/register.css" />
        <title>register</title>
    </head>
    <body>
    <h2>欢迎注册</h2>
    <form th:action="@{/user/register}" method="post" onsubmit="return check_submit()" name="form1">
        <div id="app">
            <table >
                <tr>
                    <td>邮箱</td>
                    <td>
                        <input type="text" name="email" placeholder="" id="email">
                    </td>
                </tr>
                <tr>
                   <td>用户名</td>
                   <td>
                       <input type="text" name="username" onblur="blur_username()" onfocus="focus_username()" >
                   </td>
                   <td>
                    <td width="300"><span id="result_name"></span> 
                    </td>
               </tr>
               <tr>
                   <td>性别</td>
                   <td>
                       <input type="radio" name="sex" checked >男
                       <input type="radio" nmae="sex" >女
                   </td>
               </tr>
               <tr>
                   <td>生日</td>
                   <td>
                       <input type="date" name="birthday" placeholder=""  @change="getAge" v-model="birthday">
                   </td>
               </tr>
               <tr>
                   <td>年龄</td>
                   <td>
                       <input type="text" name="age" placeholder=""  v-model="agg">
                   </td>
               </tr>
               <tr>
                   <td>密码</td>
                   <td>
                       <input type="password" name="password" placeholder="请输入6-20位密码"  id="pwd" onkeyup="()">
                       <span id="pwdtishi"></span>
                    </td>
               </tr> 
               <tr>
                   <td>确认密码</td>
                   <td>
                       <input type="password" name="passwordd" placeholder="请再次输入密码" id="pwd1" onkeyup="validate()">
                       <span id="tishi"></span>
                    </td>
               </tr>
                </table>
            <div>
                <button type="submit" id="button">注册</button>
            </div>
        </div>
    </form>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/register.js"></script>
    </html>
