
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Microsoft Yahei, "微软雅黑", "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
}
/* 页面头部 */
.header {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    background: transparent;
}
/* 欢迎语区域 */
.welcome {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center;
}
.welcome>p {
    font-size: 40px;
    color:black;
    margin-bottom: 20px;
    opacity: 0.8;
    -webkit-animation: dropIn 1s linear;
    animation: dropIn 1s linear;
}
.scroll {
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 20px;
    color: black;
    cursor: pointer;
}
.footer {
    margin-top: 30px;
    text-align: center;
    background: #aaafb8;
    padding: 30px 0 10px 0;
    color: hsla(0,0%,100%,.7);
}

.sub-title {
    text-align: center;
    font-weight: normal;
    font-size: 26px;
    margin: 20px 0 13px 0;
}
.sub-title>span {
    font-family: Segoe UI Light,Microsoft YaHei,Arial,Helvetica,sans-serif;
    margin-right: 10px;
}
/* 页面主容器 */
.container{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}
/* 栅格系统 */
.mk-item-box {
    margin-left: -15px;
    margin-right: -15px;
}
.mk-item {
    width: 25%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
/* 分类大块 */
.section {
    margin-top: 30px;
    margin-bottom: 10px;
}
/* 子标题 */
.mk-sub-title {
    text-align: center;
    font-weight: normal;
    font-size: 26px;
    margin: 20px 0 13px 0;
}
.mk-sub-title>span {
    font-family: Segoe UI Light,Microsoft YaHei,Arial,Helvetica,sans-serif;
    margin-right: 10px;
}
.mk-title-describe {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}
/* 彩色块*/
.mk-color-item {
    font-family: microsoft yahei;
    background-color: #70c3ff;
    padding: 20px 10px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 25px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.mk-color-item.color1 {
    background-color: #70c3ff!important;
}
.mk-color-item.color2 {
    background-color: #fd6a7f!important;
}
.mk-color-item.color3 {
    background-color: #7f8ea0!important;
}
.mk-color-item.color4 {
    background-color: #89d04f!important;
}
.mk-color-item>p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
.mk-color-item>.item-logo {
    height: 60px;
    overflow: hidden;
    display: inline-block
}
.mk-color-item>h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.mk-color-item:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100,.5);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .5);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .5)
}
/* 掉落的动画效果 */
/*keyframes-selector：动画持续时间的百分比，可能的值：0-100%、from (和0%相同)、to (和100%相同)。keyframes-selectors；*/
@keyframes dropIn {0% {opacity: 0;transform: translate3d(0, -100px, 0)}100% {opacity: 0.8;transform: translate3d(0, 0, 0)}}


h1{
    text-align:center;
}
























