*{
    padding: 0%;
    margin: 0%;
}
body{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(125deg,#6a89cc,#b8e994,#2c3e50,#e74c3c,#8e44ad);
    background-size: 400%;
    animation: bga 15s infinite;
}
.warp-panel {
    height: 100%;
    width: 100%;
}
.top-panel {
height: 5%;
width: 100%;
display: flex;
flex-flow: row wrap;
align-content: flex-start;
position: relative;
}
.top-panel .top-lt a:hover {
color: pink;
}
.top-panel .top-rt a:hover {
color: pink;
}
.top-panel .top-lt .homepage-but {
height: 50px;
width: 50px;
border: none;
background: url(/static/imgs/index-off.png) no-repeat;
background-size: 48px 48px;
position: relative;
cursor: pointer;
}
.top-panel .top-lt .homepage-but:hover {
background: url(/static/imgs/index.png) no-repeat;
background-size: 48px 48px;
}
.top-panel .top-lt text {
height: 50px;
}
.top-panel .top-mid .sousuo-but {
height: 50px;
width: 50px;
border: none;
background: url(/static/imgs/搜索.png) no-repeat;
background-size: 48px 48px;
position: relative;
margin-left: 10px;
}
.top-panel .top-mid .sousuo-but:hover {
background: url(/static/imgs/搜索-on.png) no-repeat;
background-size: 48px 48px;
}
.top-panel .item {
flex: 0 0 33.3%;
display: flex;
justify-content: center;
align-items: center;
}
.item1>a {
margin-right: 6%;
color: #333
}
.item1>a:hover{
text-decoration: none;
}
.item3>a {
margin-left: 6%;
color: #333
}
.item3>a:hover{
text-decoration: none;
}
#sousuo {
width: 80%;
border-radius: 5px;
height: 30px;
line-height: 30px;
box-sizing: border-box;
padding: 3px 20px 3px 20px
}
.sousuo-but {
cursor: pointer;
}
.mid-panel {
width: 100%;
height: 80%;
}
.mid-lt {
height: 500px;
width: 20%;
float: left;
left: 0px;
position: relative;
margin-bottom: 40px;
}
.bfc {
overflow: hidden;
width: 80%;
}
.mid-rt {
float: left;
text-align: center;
width: 100%;
margin-top: -5%;
margin-left: -15%;
}
.mid-lt>div>a {
font-size: large;
display: inline-block;
width: 100%;
height: 40px;
text-align: center;
line-height: 40px;
margin-bottom: 25px;
color: #333
}
.mid-lt-wrap {
width: 100%;
position: absolute;
top: 50%;
transform: translateY(-50%);
}
.mid-lt a:hover {
color: #fff;
background: #08f;
text-decoration: none;
}
.mid-rt .midrt-1 {
height: 100px;
}
.mid-rt .midrt-2 {
height: 400px;
}
.mid-rt .midrt-2 button {
background-color: #08fafa;
font-size: large;
}
.mid-panel .mid-rt .midrt-2 .midrt-mid {
margin-top: 50px;
}
.mid-panel .mid-rt .midrt-2 .midrt-but {
margin-top: 50px;
}
.bottomDiv {
width: 100%;
margin-top: 50px;
}
.bottomDiv2{
    margin-left: 10%;
}
.bfc label{
    margin-right: 7px;
}
.upload-but {
position: relative;
right: 50px;
height: 30px;
width: 80px;
text-align: center;
line-height: 30px;
cursor: pointer;
background-color: #0099ff;
box-sizing: border-box;
border-radius: 8px;
margin-top: 15px;
margin-left: 10%;
}
.upload-but:hover {
opacity: 0.6;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
#chooseImage{
cursor: pointer;
}
.midrt-mid>input {
right: 8px;
position: relative;
height: 25px;
border-radius: 8px;
box-sizing: border-box;
padding: 3px 15px 3px 15px;
line-height: 25px;
}
.bot-panel{
height: 15%;
width: 100%;
}
.bottomDiv p{
    margin-top: 20px
    ;position: relative;
    left: 24px;
}
.bot-panel p{
    margin-top: 5%;
    text-indent:10px ;
    margin-right: 20%;
}
@keyframes bga{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}