<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            width: 35em;
            margin: 0 auto;
            font-family: Tahoma, Verdana, Arial, sans-serif;
        }
    </style>
</head>
<body>
    <p style="font-weight: bold; font-size: 24px; color: coral;">你的访问行为疑似攻击，请检查!</p>
    <p style="font-weight: bold;">Your visit is suspected of attack. Please check!</p>
    <br> 
    <p><em>Thank you for visiting the video website!</em></p>    
</body>
</html>