<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>上传</title>
    <html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"></html>
    <link rel="stylesheet" type="text/css" th:href="@{/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/error.css}">
    <style>
    </style>
</head>
<body >
    <div class="container">
        <h2>Error!</h2>
        <h1> 404 </h1>
        <p>Can't find the page you're looking for.</p>
        <a href="/homepage">返回主页</a>
        <a href="/videolist">视频列表</a>
        <a href="/videoupload">上传中心</a>
    </div>
</body>
<script>
</script>
</html>