<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>成功</title>
    <html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"></html>
    <link rel="stylesheet" type="text/css" th:href="@{/reset.css}">
    <link rel="stylesheet" href="../static/css/reset.css">
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/error.css}"> -->
    <link rel="stylesheet" href="../static/css/error.css">
    <style>
    </style>
</head>
<body >
    <div class="container">
        <h2>Success!</h2>
        <p>Thank you for using！</p>
        <a href="/homepage">返回主页</a>
        <a href="/videolist">视频列表</a>
        <a href="/videoupload">上传中心</a>
    </div>
</body>
<script>
</script>
</html>