<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>register</title>
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/usernews.css}"> -->
    <link rel="stylesheet" href="../static/css/usernews.css">
</head>
<body>
<div class="usernews">
<h2>个人信息</h2>
<div class="head">
    <a href="/changeuser">修改信息</a>
    <a href="/changepwd">修改密码</a>
</div>
<form th:action="@{/usernews}" method="post">
    <div class="menu">
        <ul>
            <li>
                <p>邮箱：</p><p name="email" th:text="${putemail}"></p>
            </li>
            <li>
                <p>昵称：</p><p name="name" th:text="${putusername}"></p>
            </li>
            <li>
                <p>性别：</p><p name="sex" th:text="${putsex}"></p>
            </li>
            <li>
                <p>生日：</p><p name="birthday" th:text="${putbirthday}"></p>
            </li>
            <li>
                <p>年龄：</p><p name="age" th:text="${putage}"></p>
            </li>
        </ul>
    </div>
</form>
</div>
</body>
</html>