<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>视频列表</title>
</head>
<body>
<h1>欢迎您！</h1>
<div>
    <div class="text-right ">
        <a href="/homepage" >点此返回主页</a>
    </div>

    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>文件名</th>
            <th>文件类型</th>
            <th>上传时间</th>
            <th>播放</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody th:if="${pageInfo != null}">
                <tr th:each="video:${pageInfo.list}">
                    <td th:text="${video.id}"></td>
                    <td th:text="${video.title}"></td>
                    <td th:text="${video.type}"></td>
                    <td th:text="${video.uploadTime}"></td>
                    <td><button><a th:href="@{'/videoPlayById?id='+${video.id }}">播放</a></button></td>
                    <td><button><a th:href="@{'/deleteVideoById?id='+${video.id}}">删除</a></button></td>
                    <td><button><a th:href="@{'/downloadVideoById?id='+${video.id}}">下载</a></button></td>
                </tr>
        </tbody>
    </table>
    <div>
        当前<span th:text="${pageInfo.pageNum }"></span>页
        |总<span th:text="${pageInfo.pages }"></span>页
        |有<span th:text="${pageInfo.total }"></span>个视频.
    </div>
    <div>
        <nav aria-label="Page navigation">
            <ul>
                <li><a th:href="@{/videolist}">首页</a></li>
                    <li>
                        <a th:href="@{'/videolist?pageNum='+${pageInfo.pageNum-1}}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{'/videolist?pageNum='+${pageInfo.pageNum+1}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                <li><a th:href="@{'/videolist?pageNum='+${pageInfo.pages }}">末页</a></li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>